@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('bootstrap/dist/css/bootstrap.min.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}

:root {
    --hue-color: 250;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

::-webkit-scrollbar {
    width: 0.8rem;
    background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
}

.new-line {
    white-space: pre-line;
}